# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Logs
*.log

# Environment
.env
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS metadata
.DS_Store

# VSCode settings
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Google credentials
credentials.json
token.json

# Python egg metadata
*.egg-info/
dist/
build/

# OS / Editor folders
Thumbs.db
.idea/
